<!--文件名：explanation.html-->
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>信息市场说明</title>
    <script src="./static/jquery-3.3.1.min.js"></script>
    <style>
        .hid {
            display: none
        }

        .button {
            width: 70px;
            height: 40px;
            font-family: monospace;
        }

        .input_blank {
            width: 200px;
            height: 20px;
        }
    </style>
</head>

<body>
    <a href='/'> 返回登录界面</a>
    <a href="admin_index.html"> 管理员登录</a>
    <a href="user_trade_history.html">查看交易历史</a>
    <a href='/user_change_pwd.html'>更改密码</a>
    <br>
    <b>信息市场游戏网站说明</b>
    <br>
    在这次游戏中，我们将试着预测北京大学毕业年级的开学返校日期。
    <br>
    共有五个时间段可供选择，分别是5.22 - 5.28， 5.29 - 6.04， 6.05 - 6.11，6.12 - 6.18， 6.19及以后。
    <br>
    我们将这五个可能的开学日期视为五只股票，大家通过交易这五只股票来表示自己对开学日期的预测。
    <br>
    为了方便，每周分别用该周的第一天表示，比如5.22 - 5.28便表示为5.22。
    <br>
    游戏开始时，每人有1000元现金，每只股票各10股。
    <br>
    交易市场在每日的21:00 - 22:00期间开放。计划在5.20日左右截止。
    <br>
    大家可以在<a href='/'>登录</a>之后查看到 市场价格、个人资产、个人所有订单、交易面板上所有订单等信息。
    <br>
    网站地址为 <a href='/'>152.136.13.220</a>
   

    <br>

    <br>
    <b>胜利规则与奖励</b>
    <br>
    对开学日期预测准确，且在这个日期对应的股票持股最多的两个人，获得最终的胜利。
    <br>
    获胜的人可以在期末考试任选一道大题免做。
    <br>

    <br>
    <b>修改密码</b>
    <br>
    请大家进入<a href='/user_change_pwd.html'>修改密码</a>页面更改密码，用户名和初始密码均为学号，密码不可为空。
    <br>

    <br>
    <b> 查看交易历史</b>
    <br>
    用户可以到<a href='user_trade_history.html'>用户交易历史</a>页面登陆并查询自己的交易历史记录。
    <br>

    <br>
    <b>提交订单</b>
    <br>
    首先，提交订单时，股票的 每股单价 和 股数 必须为正整数。
    <br>
    当用户提交买入订单时，就会从用户的现金中扣除相应的订单总金额。
    <br>
    比如用户 提交了一个以2元每股的价格买入3股股票 '5.22' 的订单，那么就会从用户的现金中扣掉 2 * 3 = 6元，作为交易保证金。
    <br>
    同理，当用户提交了一个卖出订单时，也会将相应的股票从用户账户中扣除。
    <br>

    <br>
    <b>订单交易的规则</b>
    <br>
    用户不能与自己交易，即交易的买卖双方订单不能来自同一个用户。
    <br>
    对于买单，每股单价表示买家能接受的最高价格，买单只会与低于这个价格的卖单交易。
    <br>
    对于卖单，每股单价表示卖家能接受的最低价格，理论上卖单只会与高于这个价格的买单交易。
    <br>
    新提交的买单会与股票单价最低的卖单优先交易，实际成交价为卖单价格；价格相同时，与订单编号较小的卖单，即较旧的卖单优先交易。
    <br>
    新提交的卖单会与单价最高的买单优先交易，实际成交价为买单价格；价格相同时，与订单编号较小的买单，即较旧的买单优先交易。
    <br>

    <br>
    同时我们的订单支持部分成交，比如上面的例子，买入 3股，卖出 2股，那么可以先成交 2股。
    <br>

    <br>
    然而这里出现了一个问题，买单原本要买 3股，现在买到了 2股，还剩 1股没有买到,
    <br>
    那么买单就会转换成一个新的买入订单， 以 2元每股，买入 1股股票 '5.08'。继续交易。
    <br>

    <br>
    另一个问题是保证金的返还，我们还举上面的例子，
    <br>
    以 2元每股，买入3股股票 '5.22' 的买单，与以 1元每股，卖出2股股票 '5.22' 的卖单交易后，从买单中扣除了 1 * 2 = 2元的交易保证金，给了卖家。
    <br>
    现在新生成的以 2元每股，买入 1股股票 '5.22' 的买单的剩余交易保证金为 2 * 3 - 1 * 2 = 4元，但是我们发现这个买单最多能花费 2 * 1 = 2元。
    <br>
    这是因为实际成交价格低于买单设置的最高成交价格。那么我们是怎么处理这些多余的交易保证金的呢？
    <br>
    我们选择在成交之后，把多余的交易保证金返还。
    <br>
    比如新生成的以 2元每股，买入 1股股票 '5.22' 的买单只需要 2 * 1 = 2元的交易保证金，但现在实际拥有 2 * 3 - 1 * 2 = 4元的交易保证金，
    <br>
    那么我们就把多出来的 4 - 2 = 2元交易保证金在交易时返还给买家。
    <br>
    因而交易完成后，买家账户不但多出了 2股股票，还多出了2元多余的，被返还的交易保证金。
    <br>

    <br>
    <b>订单数量</b>
    <br>
    每个用户的订单数量不得超过6个。
    <br>

    <br>
    <b> 删除订单</b>
    <br>
    请到<a href="user_trade_history.html">删除订单</a>页面删除订单，
    <br>
    删除订单之后，买单对应的交易保证金，或者卖单对应的股票都会返还到用户账户。
    <br>

    <br>
    <b> 交易面板</b>
    <br>
    为了体现交易的时效性，我们限制了交易面板的容积。交易面板的大小设置为40。
    <br>
    也就是说，最多有40个买单，40个卖单同时放在交易面板上。如果交易面板满了，那么新的订单会顶替掉最早的订单。
    <br>
    被从交易板上撤下的旧订单会遵循删除订单的机制，返还交易保证金和股票。
    <br>

    <br>
    <b> 市场价格</b>
    <br>
    每只股票的市场价格由最近 4次成交的加权平均价格决定。
    <br>
    比如 '5.22' 这只股票最近两次交易分别为 (10股，2元) 和 (3股，4元)，那么这两次交易的加权平均价格为 (10 * 2 + 3 * 4) / (10 + 3) = 2.46
    <br>

</body>

</html>
